<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <menu>
        <add module = "Australia_Hello" title = "Hello Menu" id = "Australia_Hello::hello" sortOrder = '99' resource = "Australia_Hello::hello" />
        <add id = "Australia_Hello::menu1" parent = "Australia_Hello::hello" title = "Hello Sub Menu1" sortOrder = "1" resource = "Australia_Hello::menu1" action = "hello/blog/index" module = "Australia_Hello"/>
    </menu>
</config>
