<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <module name = "Australia_Blog" setup_version= "0.1.1">
        <sequence>
            <module name = "Magento_Directory"/>
            <module name = "Magento_Config"/>
        </sequence>
    </module>
</config>
